doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title
        link(rel="stylesheet" href="style.css")
    body
        .content
            .card 
                .firstinfo
                    img(src="https://randomuser.me/api/portraits/lego/6.jpg")
                    .profileinfo
                        h1 Daniil Velev
                        h3 Frontend Developer
                        p.bio
                            | Spent my days atop a digital mountain, mastering the art of JavaScript.
            .badgescard 
                span.devicons.devicons-django
                span.devicons.devicons-python
                span.devicons.devicons-codepen
                span.devicons.devicons-javascript_badge
                span.devicons.devicons-gulp
                span.devicons.devicons-angular
                span.devicons.devicons-sass