doctype
html(lang='en')
    head
        meta(charset='utf-8')
        link(href="style.css", rel="stylesheet")
        link(href="//cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css", rel="stylesheet")
        title
    body
        .content
            .card
                .firstinfo
                    img(src="./imgs/pepe.jpg")
                    .profileinfo
                        h1 Hello! I am John
                        h3 FrontEnd Developer
                        p.bio
                            | Spent my days atop a digital mountain, mastering the art of JavaScript.
            .badgescard
                span.devicon-html5-plain.colored
                span.devicon-css3-plain.colored
                span.devicon-javascript-plain.colored
                span.devicon-sass-original.colored
                span.devicon-babel-plain.colored